@import 'bower_components/bskyb-grid/src/scss/grid';
@import 'bower_components/bskyb-colours/src/scss/colours';
//@import 'bower_components/bskyb-skycons/dist/scss/skycons';

/* Common demo Sass here */
.demo-block{
  display: block;
}
.demo-updated {
  display: block;
  font-size: 0.3em;
}
.demo-version{
  font-size: 0.5em;
}
.demo-icon{
  display: inline-block;
  width: 20px;
  height: 20px
}
.demo-icon--github{
  background: url(../images/GitHub-Mark-32px.png) no-repeat 0px 0px;
  background-size: 100%;
}

.speak {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}

code{
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}





//your demo specific scss here
.demo-hex{
  text-align: left;
  margin-bottom:10px;
}
.demo-mobile-size{
  color: #5cacb6;
}
.text--inactive .demo-mobile-size{
  color: #A9C7CA;
}
.demo-pink{
  color: $colour-v3-pink;
}

.demo-smash-img {
  background-image: url("../images/smash.jpg");
  padding: 15px;
  margin-bottom: 10px;
  background-size: 100%;
  width: 50%;
  p{
    margin: 0;
  }
}
.demo-beckham-img {
  background-image: url("../images/beckham.jpg");
  padding: 15px;
  margin-bottom: 10px;
  background-size: 100%;
  width: 50%;
  p{
    margin: 0;
  }
}