@import 'bskyb-colours/dist/scss/colours';
@import 'bskyb-skycons/dist/scss/skycons';

/* Common demo Sass here */
.demo-block{
  display: block;
}
.demo-updated {
  display: block;
  font-size: 0.3em;
}

//your demo specific scss here
.demo-hex{
  text-align: left;
  margin-bottom:10px;
}
.demo-mobile-size{
  color: #5cacb6;
}
.text--inactive .demo-mobile-size{
  color: #A9C7CA;
}
.demo-pink{
  color: $colour-v3-pink;
}

.demo-smash-img {
  background-image: url("../images/smash.jpg");
  padding: 80px 50px;
  margin-bottom: 10px;
}
.demo-beckham-img {
  background-image: url("../images/beckham.jpg");
  padding: 80px 50px;
  margin-bottom: 10px;
}